<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ArchDesinger2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>loginpage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StakeholderBusiness</display-name>
    <servlet-name>StakeholderBusiness</servlet-name>
    <servlet-class>com.business.StakeholderBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StakeholderBusiness</servlet-name>
    <url-pattern>/StakeholderBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecisionBusiness</display-name>
    <servlet-name>DecisionBusiness</servlet-name>
    <servlet-class>com.business.DecisionBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecisionBusiness</servlet-name>
    <url-pattern>/DecisionBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QualityBusiness</display-name>
    <servlet-name>QualityBusiness</servlet-name>
    <servlet-class>com.business.QualityBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualityBusiness</servlet-name>
    <url-pattern>/QualityBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlternativeBusiness</display-name>
    <servlet-name>AlternativeBusiness</servlet-name>
    <servlet-class>com.business.AlternativeBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlternativeBusiness</servlet-name>
    <url-pattern>/AlternativeBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PairwisequalityBusiness</display-name>
    <servlet-name>PairwisequalityBusiness</servlet-name>
    <servlet-class>com.business.PairwisequalityBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PairwisequalityBusiness</servlet-name>
    <url-pattern>/PairwisequalityBusiness</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ApplicationBusiness</display-name>
    <servlet-name>ApplicationBusiness</servlet-name>
    <servlet-class>com.business.ApplicationBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationBusiness</servlet-name>
    <url-pattern>/ApplicationBusiness</url-pattern>
  </servlet-mapping>
</web-app>